
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.advanced-search-container {
  width: 100vw;
  min-height: 100vh;
  background-size: cover; /* instead of auto */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#advanced-search {
  margin: 0;
  padding-top: 20px;        
}
 

